{{page-title "Third Sight - Modern Portal"}}

<div class="intro">
  <h1 class="ts-welcome-header">
    Welcome to Third Sight - Modern Portal v6!
  </h1>
  <p>Email Management System</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <i class="fa fa-car"></i>
      <i class="fa fa-car" style="font-size:48px;"></i>
      <i class="fa fa-car" style="font-size:60px;color:red;"></i>
    </div>
  </div>
</div>

{{outlet}}